html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  color: #404040;
}

.tk-ff-tisa-sans-web-pro, footer, h2, h3, h4, nav, p.small, #contentbox h1 {
  line-height: 1.7em;
}
header {
  overflow-x: hidden;
  height: 400px;
  background-size: 1500px;
  background-position: 0 0;
  max-width: 1500px;
  margin: 0px auto;
  margin-bottom: 50px;
  position: relative;
}

header.homepage {
  background-image: url(/media/img/2015/mpls2.jpg);
}

header.mcnamara {
  background-image: url(/media/img/2015/mcnamara.jpg);
}

header.dotpattern {
  background-image: url(/media/img/2015/dotpattern.jpg);
}

header.postits {
  background-image: url(/media/img/2015/post-its.jpg);
}

header.tickets {
  background-image: url(/media/img/2015/tickets.jpg);
}

header.lifevests {
  background-image: url(/media/img/2015/lifevests.jpg)
}

header.coffee {
  background-image: url(/media/img/2015/coffee.jpg);
}

header.mcnamara h3, header.coffee h3, header.lifevests h2, header.lifevests h3 {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}


#headertop {
  width: 100%;
  height: 70px;
  background-color:rgba(0, 0, 0, 0.3)
}

.container {
  box-sizing: border-box;
  display: block;
  max-width: 1000px;
  margin: 0px auto;
  padding: 0px;
  position: relative;
}


header a#cornerlogo img {
  width: 150px;
  position: absolute;
  top: 5px;
}

header nav {
  float: right;
  overflow: hidden;
  font-size: 1.1em;
  line-height: 1.7em;
}

header .byline {
  clear: both;
  color: white;
  font-size: .8em;
  position: absolute;
  max-width: 900px;
  left: 6px;
  top: 280px;
  margin-bottom: 0px;
  opacity: .6;
}

.byline a {
  color: white;
  text-decoration: none;
  border-bottom: 0;
}

.byline a:hover {
  color: white;
  border-bottom: 1px solid white;
}

header nav ul {
  padding-left: 0px;
  text-align: center;
  margin-bottom: 1em;
}

header nav ul li {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 10px;
  padding-bottom: 5px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li a:hover {
  border-bottom: 1px solid white;
}

body.sessions header nav ul li#sessions a {
  border-bottom: 1px solid white;
}

body.registration header nav ul li#registration a {
  border-bottom: 1px solid white;
}

body.location header nav ul li#location a {
  border-bottom: 1px solid white;
}

#headbox {
  clear: both;
  width: 100%;
  max-width: 660px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 1%;
  padding-top: 70px;
}

.homepage #headbox {
  max-width: 960px;
  padding-top: 20%;
}

#headbox h2 {
  color: white;
  font-size: 3em;
  margin-bottom: 10px;
  margin-top: 0;
}

#headbox h3 {
  color: white;
  font-size: 1.4em;
  font-weight: 400;
  margin-top: 0px;
}

#headbox h3.homepage, #headbox h4.homepage {
  color: white;
  font-size: 1.8em;
  line-height: 1.3em;
  position: relative;
  margin-left: 350px;
  margin-bottom: 15px;
  text-shadow: none;
}

#headbox h3.homepage {
  font-weight: 800;
}

#headbox h4.homepage {
  font-size: 1.5em;
  margin-top: 0px;
  font-weight: 400;
  max-width: 500px;
}

img.makethelogobigger {
  float: left;
  position: absolute;
  width: 50%;
  left: -40px;
  top: -50px;
  margin-right: 20px;
}

ul.homepage {
  margin-bottom: 50px;
}

ul.homepage li {
  clear: both;
  padding-top: 25px;
}

ul.homepage li h3 a, .homepage #buttonbox h3, #contentbox h1 {
  color: #404040;
  text-decoration: none;
}

ul.homepage li h3 a:hover {
  color: black;
  border-bottom: 1px solid black;
}

ul.homepage li h3, .homepage #buttonbox h3 {
  font-size: 1.8em;
  margin-bottom: 0px;
}

ul.homepage li.left img {
  width: 200px;
  float: left;
  margin-left: -130px;
  margin-right: 25px;
}

ul.homepage li.right img {
  width: 200px;
  float: right;
  margin-right: -130px;
  margin-left: 25px;
}

ul.homepage li p {
  font-size: 1.3em;
  margin-top: 5px;
}

ul.homepage li h3 {
  margin-bottom: 0px;
}

ul.homepage li {
  list-style-type:none;
}

ul.homepage li:last-child {
  padding-bottom: 0px;
}

#contentbox, footer .container {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 1%;
}


p, body.interior #contentbox li {
  font-size: 1.5em;
  line-height: 1.7em;
}

body.interior #contentbox ul {
padding-left: 0;
}

body.interior #contentbox li {
  margin-bottom: 15px;
  list-style: circle outside;
}


#contentbox h1 {
  font-family: "ff-tisa-sans-web-pro",sans-serif;
  font-size: 1.8em;
  margin-bottom: 10px;
}

#contentbox h2 {
  margin-bottom: 0px;
  margin-top: 35px;
}

#contentbox p {
  margin-top: 10px;
  margin-bottom: 25px;
}

p a, p.small a, li a {
  color: #404040;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

p.small a {
  border-bottom: 1px solid #aaa;
}

p a:hover, p.small a:hover, li a:hover {
  color: black;
  border-bottom: 1px solid black;
}

p.small {
  font-size: 1.1em;
}

footer {
  margin-top: 100px;
}

footer #sponsorbox {
  clear: both;
  margin: 40px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-image: url(/media/img/2015/lightdots.jpg);
  background-size: 1500px;
  max-width: 1500px;
}

footer #sponsorbox ul {
  padding-left: 0px;
}

footer #sponsorbox ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
  margin-top: 20px;
  width: 30%;
}

footer .col {
  width: 30%;
  float: left;
  margin-right: 3%;
}

footer .last {
  margin-right: 0;
}

footer .col h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2em;
}

footer .col p {
  font-size: .9em;
  line-height: 1.7em;
}

footer .col ul {
  padding-left: 0px;
}

footer .col ul li {
  list-style-type: none;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}

footer .col ul li:last-child {
  border-bottom: none;
}

footer .col ul li a {
  color: #404040;
  text-decoration: none;
}

footer .col ul li a:hover {
  color: black;
  border-bottom: 1px solid black;
}

footer .columns {
  margin-bottom: 50px;
}

#buttonbox {
  height: auto;
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.homepage #buttonbox {
  height: auto;
  margin-top: 40px;
  border-bottom: 1px solid white;
  margin-bottom: 0px;
}

#buttonbox h3 {
  margin-bottom: 0px;
  font-size: 1.5em;
  color: #ff8c00;
}

.buttontext {
  width: 60%;
  float: left;
  padding-right: 20px;
}

.buttontext p, p.bottomrun {
  font-size: 1.1em;
}

.homepage .buttontext p, .homepage p.bottomrun {
  font-size: 1.3em;
}

.btn {
  float: right;
  cursor: pointer;
  width: 40%;
  background: #ff8c00;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  text-align: center;
  margin-left: 25px;
}

.homepage .btn {
  background: #caa5ce;
  margin-left: 0px;
}

.homepage .btn:hover {
  background: #6c4f77;
}

.btn:hover {
  background: #ff6600;
  text-decoration: none;
}

.bottomrun {
  clear: both;
  width: 100%;
  padding-bottom: 10px;
}
/* FORM FOR SUMBISSIONS */

div.fr_page {
  margin-top: 50px;
}

form.fr_form {
  font-family: "ff-tisa-web-pro",serif;
}

form.fr_form div.size_large, form.fr_form div.size_medium  {
  font-family: "ff-tisa-sans-web-pro",sans-serif;
  font-weight: 600;
  color: #404040;
}

form.fr_form div.size_large {
  margin-bottom: 25px;
  margin-top: 40px;
}

form.fr_form div.size_medium {
  margin-top: 40px;
  color: #ff8c00;
}

form.fr_form label, form.fr_form div.size_small {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

form.fr_form div.fr_description {
  margin-top: 10px;
  line-height: 1.4em;
  color: grey;
}

form.fr_form label[for=c29] {
  margin-top: 40px;
}

form.fr_form .fr_response_field_paragraph textarea.size_medium, form.fr_form .fr_response_field_text input.size_medium, form.fr_form .fr_response_field_text input, form.fr_form .fr_response_field_paragraph textarea {
  width: 100%;
}

form.fr_form .fr_response_field_text input#c12, form.fr_form .fr_response_field_text input#c18 {
  width: 160px;
}

form.fr_form div.fr_response_field_block_of_text {
}


/* SESSION PROPOSALS */
.session-proposal-list {
    clear: both;
    margin-top: 4em;
}
.session-proposal {
    margin-bottom: 4em;
}
.session-proposal h2,
.session-proposal .facilitator {
    font-family: "ff-tisa-sans-web-pro", sans-serif;
}
#contentbox .session-proposal p {
    margin-top: 0;
    margin-bottom: 1em;
}
#contentbox .session-proposal p.facilitator {
    font-size: 1.1em;
    margin: .5em 0 .33em;
}
.session-title a {
    text-decoration: none;
    color: #111;
}
a .permalink {
    display: none;
    color: #777;
    font-size: .75em;
    line-height: 1em;
    margin-left: .33em;
    vertical-align: middle;
}
a:hover .permalink {
    display: inherit;
}

/* RESPONSIVE STUFF STARTS HERE */

@media screen and (max-width: 1020px) {
    header, footer {
        width: 100%;
    }
    .container  {
        margin: 0 2em;
    }
}

@media screen and (max-width: 800px) {
    p, body.interior #contentbox li {
      font-size: 1.4em;
      line-height: 1.6em;
    }
    footer .container  {
        margin: 0 2em;
        right: auto;
    }
    #contentbox, #headbox {
        right: auto;
    }

    #headbox h3.homepage, #headbox h4.homepage {
        margin-left: 260px;
    }
    header {
        background-size: cover;
    }

    ul.homepage li.left img {
      width: 180px;
      float: left;
      margin-left: -150px;
      margin-right: 25px;
    }

    ul.homepage li.right img {
      width: 180px;
      float: right;
      margin-right: -130px;
      margin-left: 25px;
    }
}

@media screen and (max-width: 720px) {
    footer .col {
        width: 47%;
    }
    header .byline {
        left: 0;
        font-size: .7em;
    }
    #headbox h3.homepage, #headbox h4.homepage {
        margin-left: 220px;
    }
}

@media screen and (max-width: 640px) {
    p, body.interior #contentbox li {
      font-size: 1.3em;
      line-height: 1.5em;
    }
    footer #sponsorbox ul li {
      display: block;
      padding-right: 0;
      margin-top: 20px;
      width: auto;
    }
    footer #sponsorbox img {
        max-height: 40px;
        max-width: 100%;
    }
    footer .col {
        float: none;
        width: auto;
    }
    header {
        height: 340px;
    }
    header .byline {
        top: 230px;
    }
    #headbox {
        padding-top: 60px;
    }
    #headbox h2 {
        font-size: 2.4em;
    }
    #headbox h3 {
        font-size: 1.2em;
        line-height: 1.4em;
    }
    #headbox h3.homepage, #headbox h4.homepage {
        margin-left: 150px;
    }
    #headbox h3.homepage {
        font-size: 1.6em;
    }
    #headbox h4.homepage {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 560px) {
    #headbox h3.homepage, #headbox h4.homepage {
        margin-left: 100px;
    }
    #headbox h3.homepage {
        font-size: 1.5em;
    }
    #headbox h4.homepage {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 480px) {
    p, body.interior #contentbox li, ul.homepage li p  {
      font-size: 1.2em;
    }
    footer #sponsorbox ul li {
      display: block;
      padding-right: 0;
      margin-top: 20px;
      width: auto;
    }
    #headbox h2 {
        font-size: 2.1em;
        margin-bottom: 5px;
    }
    #headbox h3 {
        font-size: 1.1em;
    }
    #headertop {
        height: 40px;
    }
    header nav {
        font-size: .9em;
    }
    header nav ul {
        margin-top: .33em;
    }
    header a#cornerlogo img {
        width: 100px;
        top: 10px;
        left: -25px;
    }
    header {
        height: 320px;
    }
    #headbox h3.homepage, #headbox h4.homepage {
        margin-left: 0;
    }
    .homepage #headbox {
        padding-top: 25%;
    }
}
@media screen and (max-width: 360px) {
    #headbox h2 {
        font-size: 1.8em;
        line-height: 1.1em;
    }
    #headbox h3 {
        font-size: 1.2em;
    }

    #headbox h3.homepage {
    margin-top: 5px;
    }

    ul.homepage {
      padding-left: 0px;
    }

    ul.homepage li h3 {
      font-size: 1.5em;
    }

    ul.homepage li {
      margin-top: 10px;
      padding-top: 0;
    }

    ul.homepage li p {
      font-size: 1.1em;
    }

    ul.homepage li.left img, ul.homepage li.right img {
      display: none;
    }

    p, body.interior #contentbox li {
        font-size: 1.1em;
    }
    #headbox h4.homepage {
        font-size: 1.05em;
    }
    img.makethelogobigger {
        top: -30px;
    }
}

@media screen and (max-width: 320px) {
  header a#cornerlogo img {
    width: 100px;
    top: 30px;
    left: -30px;
  }

  #headbox h3 {
    font-size: 1.2em;
    line-height: 1.2em;
  }
}
