.fb-field-wrapper select, .fb-field-wrapper textarea {
  width: 250px;
}

.response-field-text .rf-size-small, .response-field-website .rf-size-small {
  width: 250px;
}

.response-field-checkboxes {
  width: 100%;
}
