 <div class="busta">
            <h2>SRCCON is <a href="/sponsors">sponsored by</a></h2>
            <ul class="sponsorlist">
              <li><a href="http://mandrill.com/"><img alt ="Mandrill by Mailchimp" src="/media/img/partners/mandrill_150.png"></a></li>
              <li><a href="http://www.wordpress.org"><img alt="Scholarship Sponsor, WordPress" src="/media/img/partners/wordpress_150.png"></a><br><span class="spnsr">scholarship sponsor</span></li>
                <li><div id="partnersponsor"><a href="http://www.mozilla.org/"><img alt="Mozilla" src="/media/img/partners/mozilla.png" height="45" /></a>
                <br><span class="spnsr"><a href="http://www.knightfoundation.org/"><img alt="Knight Foundation" src="/media/img/partners/knight.png" height="50" /></a><span></div></li>

                </ul>
            </div>
        </section>
        <section class="external">
            <div class="busta">
            <div class="col box">
                <h2>More SRCCON</h2>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <ul>
                <li><a href="/conduct">Code of conduct</a>
                <li><a href="/sponsors">Our sponsors</a>
                <li><a href="http://twitter.com/srccon" class="twitter-follow-button" data-show-count="false">@srccon</a></li>

               <li>Join our <a href="https://source.opennews.org/en-US/subscribe/">mailing list</a></li>
                <li><a href="mailto:source@mozillafoundation.org">Contact us</a></li>
                </ul>
            </div>
            <div class="col box">
                <h2>About SRCCON</h2>
 <p>SRCCON is a conference for developers, interactive designers, and other people who love to code in and near newsrooms. Join us in Philadelphia July 24 and 25 for two full days of peer-to-peer sessions built around conversation and collaboration.</p>            </div>
            <div class="col box">
                <h2>About OpenNews</h2>
                <p>A multi-year partnership between <a href="http://www.mozilla.org">Mozilla</a> and the <a href="http://www.knightfoundation.org/">Knight Foundation</a>, <a href="http://www.opennews.org">Knight-Mozilla OpenNews</a> is dedicated to creating an ecosystem to help strengthen and build community around journalism on the web. More at <a href="http://www.opennews.org">opennews.org</a>.
</a>
            </div>
            </div>
