<h2>More SRCCON</h2>
<ul>
  <li><a href="https://twitter.com/srccon" class="twitter-follow-button" data-show-count="false">Follow @srccon</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <li><a href="/conduct">Code of conduct</a>
    <!--<li><a href="/scholarships">Scholarships</a>-->
    <li><a href="/sponsors/">Our Sponsors</a>
    <li id="schedule"><a href="http://2015.srccon.org">2015 site & transcripts</a></li>
    <li>Join our <a href="http://opennews.us5.list-manage2.com/subscribe?u=71c95e9a43708843d2fdc1f09&id=5e8e58d6a1">mailing list</a></li>
    <li><a href="mailto:srccon@opennews.org">Email us</a></li>
    <li><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/80x15.png"> CC Attribution 3.0</a></li>
</ul>
