{% if page.title != 'Our Sponsors' %}
<div id="sponsorbox" class="container">
  <div class="container four">
    <div id="partners">
    <p class="small">Our Partners:</p>
    <ul>
      <li><a href="http://www.mozilla.org/"><img alt="Mozilla" src="/media/img/partners/mozilla.png"  /></a></li>
        <li><a href="http://www.knightfoundation.org/"><img alt="Knight Foundation" src="/media/img/partners/knight.png" /></a></li>
      </ul>
    </div>

<div id="sponsors">
      <p class="small">Our Sponsors:</p>
      <ul>
        <li class="lead"><a href="http://www.condenast.com"><img alt="Conde Nast" src="/media/img/partners/conde.png"></a><br><span class ="sponsorcaption">lead sponsor</span></li>
        <li class="accessibility"><a href="http://wordpress.com/"><img alt="WordPress" src="/media/img/partners/wpcom-vert.png"  /></a><br><span class ="sponsorcaption">scholarship sponsor</span></li>
        <li class="accessibility"><a href="http://jsk.stanford.edu"><img alt="John S Knight Fellowships" src="/media/img/partners/jsk-logo-text-transparent.png"  /></a><br><span class ="sponsorcaption">childcare sponsor</span></li>
        <li class="accessibility"><a href="http://www.nytimes.com/"><img alt="Slack" src="/media/img/partners/NYTstackedNameplate.png" class="slack" /></a><br><span class ="sponsorcaption">transcript sponsor</span></li>
      </ul>
    </div>
    <p class="small sponsortag"><a href="/sponsors">View all of SRCCON's amazing sponsors.</a>.</p>
  </div>
</div>
{% endif %}
