<h2>More SRCCON</h2>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<ul>
    <li><a href="/conduct">Code of conduct</a>
    <li><a href="/sponsors/2015">View our sponsors</a>
    <li><a href="/tickets">Tickets & transfers</a></li>
    <li>Join our <a href="https://source.opennews.org/en-US/subscribe/">mailing list</a></li>
    <li><a href="mailto:srccon@opennews.org">Contact us</a></li>
</ul>
