{% if page.title != 'Our Sponsors' %}
<div id="sponsorbox" class="container">
  <div class="container three">
    <div id="partners">
    <p class="small">Our Partners:</p>
    <ul>
      <li><a href="http://www.mozilla.org/"><img alt="Mozilla" src="/media/img/partners/mozilla.png"  /></a></li>
        <li><a href="http://www.knightfoundation.org/"><img alt="Knight Foundation" src="/media/img/partners/knight.png" /></a></li>
      </ul>
      <p class="small sponsortag">View all of our <a href="/sponsors/2015">wonderful SRCCON sponsors</a>.</p>
    </div>

    <div id="sponsors">
      <p class="small">Our Sponsors:</p>
      <ul>
        <li class="lead"><a href="http://mandrill.com/"><img alt="Mandrill, by MailChimp" src="/media/img/partners/mandrill.png"></a><br><span class ="sponsorcaption">lead sponsor</span></li>
        <li class="accessibility"><a href="http://vip.wordpress.com/"><img alt="WordPress VIP" src="/media/img/partners/wpcom-vip-logo-full-white.png"  /></a><br><span class ="sponsorcaption">scholarship sponsor</span></li>
        <li class="accessibility"><a href="https://slack.com/"><img alt="Slack" src="/media/img/partners/slack_black.png" class="slack" /></a><br><span class ="sponsorcaption">transcript sponsor</span></li>
        <!--<li class="accessibility"><a href="http://vip.wordpress.com/"><img alt="WordPress VIP" src="/media/img/partners/wpcom-vip-logo-full-white.png"  /></a><br><span class ="sponsorcaption">childcare sponsor</span></li>-->
      </ul>
    </div>
  </div>
</div>
{% endif %}
