{% if page.section != 'sponsors' %}
<div id="footer-sponsors">
    <div class="page-container">
        <h3>Core sponsors</h3>
        <div class="sponsor-list">
            <a href="https://newsinitiative.withgoogle.com/"><img src="/media/img/partners/google_news_initiative.png"></a>
            <a href="https://www.nytimes.com/"><img src="/media/img/partners/nyt.png"></a>
            <a href="https://vip.wordpress.com/" class="narrow-logo"><img src="/media/img/partners/wordpress_vip2.png"></a>
            <a href="https://www.facebook.com/"><img src="/media/img/partners/facebook.png"></a>
        </div>
        <!--<a href="/sponsors/">Meet the sponsors that help make SRCCON happen</a>-->
    </div>
</div>{% endif %}

<div id="footer-nav">
    <div class="page-container">
        <ul class="footer-nav">
            <li><a href="/conduct">Code of conduct</a></li>
            <li><a href="/documentation">Documentation</a></li>
            <li><a href="/sponsors">Sponsors</a></li>
            <li><a href="/volunteer">Volunteers</a></li>
            <li><a href="/scholarships">Scholarships</a></li>
        </ul>
    </div>
</div>
    
<div id="footer-details">
    <div class="page-container">
        <div>
            <h3>Keep in touch</h3>
            <ul>
                <li><a href="https://opennews.us5.list-manage.com/subscribe?u=71c95e9a43708843d2fdc1f09&id=996e9290cc">Join our mailing list</a></li>
                <li><a href="https://twitter.com/srccon">Follow us on Twitter</a></li>
                <li><a href="mailto:srccon@opennews.org">Send us an email</a></li>
            </ul>
            <h3>Previous events</h3>
            <ul>
                <li>SRCCON:WORK <a href="https://work.srccon.org/">2017</a></li>
                <li>SRCCON <a href="https://2017.srccon.org/">2017</a>, <a href="https://2016.srccon.org">2016</a>, <a href="https://2015.srccon.org">2015</a>, <a href="https://2014.srccon.org">2014</a></li>
                <li><a href="/our-resources">How we build SRCCON events</a></li>
            </ul>
        
        </div>
        <div>
            <h3>About SRCCON events</h3>
            <p>OpenNews runs several journalism events each year. The largest is this conference: SRCCON, a mid-year conference for about 300 developers, designers, and data analysts. We also gather small working groups and convenings, and in 2017 added our first topically focused SRCCON-style event, <a href="https://work.srccon.org">SRCCON:WORK</a> in Philadelphia.</p>
            <p><a href="http://creativecommons.org/licenses/by/3.0/">CC Attribution 3.0</a></p>
        </div>
    </div>
</div>