<h2>More SRCCON</h2>
<ul>
    <li><a href="/conduct">Code of conduct</a>
    <li><a href="/scholarships">Scholarships</a>
    <li><a href="/sponsors/">Become a Sponsor</a>
    <li><a href="/volunteer">Volunteer at SRCCON</a>
    <li>Join our <a href="http://opennews.us5.list-manage.com/subscribe?u=71c95e9a43708843d2fdc1f09&id=996e9290cc">mailing list</a></li>
    <li>Contact us: <a href="mailto:srccon@opennews.org">Email</a> | <a href="https://twitter.com/srccon">Twitter</a></li>
    <li>Archives: <a href="http://2016.srccon.org">2016</a> | <a href="http://2015.srccon.org">2015</a> | <a href="http://2014.srccon.org">2014</a>
    <li><a rel="license" href="http://creativecommons.org/licenses/by/3.0/">CC Attribution 3.0</a></li>
</ul>
