{% if page.section != 'sponsors' %}
<div id="footer-sponsors">
    <div class="page-container">
        <h3>Partnership sponsors</h3>
        <div class="sponsor-list">
            <a href="https://vip.wordpress.com/" class="narrow-logo"><img src="/media/img/partners/wordpress_vip2.png"></a>
            <a href="https://www.nytimes.com/"><img src="/media/img/partners/nyt.png"></a>
            <a href="https://newsinitiative.withgoogle.com/"><img src="/media/img/partners/google_news_initiative.png" alt="Google News Initiative"></a>
            <a href="https://www.facebookjournalismproject.com" class="wide-logo"><img src="/media/img/partners/facebook_journalism_2.png"></a>
        </div>
    </div>
    <div class="page-container">
        <div class="sponsor-list sponsor-list-secondary">
            {% if page.section != 'remote' %}
            <div>
                <h3>Accessibility sponsor</h3>
                <a href="https://www.lenfestinstitute.org/" class="narrow-logo"><img src="/media/img/partners/lenfest.png"></a>
            </div>{% endif %}
            {% if page.section != 'scholarships' %}
            <div>
                <h3>Scholarship sponsor</h3>
                <a href="https://knightfoundation.org/"><img src="/media/img/partners/knight_foundation.png"></a>
            </div>{% endif %}
        </div>
        <a href="/sponsors/">Meet the sponsors that help make SRCCON happen</a>
    </div>
</div>{% endif %}

<div id="footer-nav">
    <div class="page-container">
        <ul class="footer-nav">
            <li><a href="/conduct">Code of conduct</a></li>
            <li><a href="/documentation">Documentation</a></li>
            <li><a href="/volunteer">Volunteers</a></li>
            <li><a href="/scholarships">Scholarships</a></li>
            <li><a href="/childcare">Childcare</a></li>
        </ul>
    </div>
</div>
    
<div id="footer-details">
    <div class="page-container">
        <div>
            <h3>Keep in touch</h3>
            <ul>
                <li><a href="https://opennews.us5.list-manage.com/subscribe?u=71c95e9a43708843d2fdc1f09&id=996e9290cc">Join our mailing list</a></li>
                <li><a href="https://twitter.com/srccon">Follow us on Twitter</a></li>
                <li><a href="mailto:srccon@opennews.org">Send us an email</a></li>
            </ul>
            <h3>Previous events</h3>
            <ul>
                <li>SRCCON <a href="https://2018.srccon.org/">2018</a>, <a href="https://2017.srccon.org/">2017</a>, <a href="https://2016.srccon.org">2016</a>, <a href="https://2015.srccon.org">2015</a>, <a href="https://2014.srccon.org">2014</a></li>
                <li>Topical SRCCON <a href="https://power.srccon.org/">Power</a>, <a href="https://work.srccon.org/">Work</a></li>
                <li><a href="/our-resources">How we build SRCCON events</a></li>
            </ul>
        </div>
        <div>
            <h3>About SRCCON events</h3>
            <p>OpenNews runs several journalism events each year. The largest is <a href="/about">SRCCON</a>, a mid-year conference for about 300 developers, designers, and data analysts. We also gather small working groups and convenings, and topically focused SRCCON-style events.</p>
            <p><a href="http://creativecommons.org/licenses/by/3.0/">CC Attribution 3.0</a></p>
        </div>
    </div>
</div>
