  <div class="container">
    <div id="partners">
    <p class="small">Our Partners:</p>
    <ul>
      <li><a href="http://www.mozilla.org/"><img alt="Mozilla" src="/media/img/partners/mozilla.png" style="height: 50px" /></a></li>
        <li><a href="http://www.knightfoundation.org/"><img alt="Knight Foundation" src="/media/img/partners/knight.png" style="height: 60px" /></a></li>
      </ul>
    </div>

    <div id="sponsors" class="two">
      <p class="small">Our Sponsors:</p>
      <ul>
        <li class="lead"><a href="mandrill.com/"><img alt="Mandrill, by MailChimp" src="/media/img/partners/mandrill.png"></a></li>
        <li class="accessibility"><a href="http://vip.wordpress.com/"><img alt="WordPress VIP" src="/media/img/partners/wpcom-vip-logo-full-white.png"  /></a></li>
        <!--<li class="accessibility"><a href="http://vip.wordpress.com/"><img alt="WordPress VIP" src="/media/img/partners/wpcom-vip-logo-full-white.png"  /></a></li>
        <li class="accessibility"><a href="http://vip.wordpress.com/"><img alt="WordPress VIP" src="/media/img/partners/wpcom-vip-logo-full-white.png"  /></a></li>-->
      </ul>
      <p class="small"><a href="/sponsors">Learn more</a> about becoming a SRCCON sponsor.
    </div>
  </div>
