<div id="buttonbox">
<h3>Propose a Session Now!</h3>
<div class="buttontext">
  <p><a href="/sessions">Session proposals are open through April 10</a>, and we want you to <a href="sessions/pitch">submit one</a>.</p>
</div>
<p class="btn" id="pitchbutton">Learn About Sessions</p>
<!--<p class="bottomrun">We're already recieving great sessions. <a href="">View the proposals so far.</a></p>-->
</div>

<script type="text/javascript">
document.getElementById("pitchbutton").onclick = function () {
  location.href = "/sessions/";
};
</script>
