{% if page.title == 'Join us for SRCCON' %}
<div id="buttonbox">
<!--session button-->
<p class="bottomrun">At its core, SRCCON is a conference driven by participation and collaboration. The peer-led sessions at SRCCON bring together newsroom developers, designers, and data analyists to compare notes, swap ideas, and teach each other new things. Our call for proposals is open from now until April 20. </p>
<p class="btn" id="pitchbutton">Learn about Sessions</p>

<!--<p class="bottomrun">We're already recieving great sessions. <a href="">View the proposals so far.</a></p>-->

<script type="text/javascript">
document.getElementById("pitchbutton").onclick = function () {
  location.href = "/sessions/";
};
</script>
<!--end session button -->
</div>
{% else %}
<!--session button-->
<p class="btn" id="pitchbutton">Pitch a Session</p>
<!--<p class="bottomrun">We're already recieving great sessions. <a href="">View the proposals so far.</a></p>-->

<script type="text/javascript">
document.getElementById("pitchbutton").onclick = function () {
  location.href = "/sessions/pitch";
};
</script>
<!-- end session button -->
{% endif %}
