<div class="main-footer">
    {% if page.section != 'sponsors' %}
    <div id="footer-sponsors">
        <div class="page-container">
            <h3>Partnership sponsor</h3>
            <div class="sponsor-list">
                <a class="wide-logo" href="https://craignewmarkphilanthropies.org"><img src="/media/img/partners/newmark.png" alt="Craig Newmark Philanthropies"></a>
            </div>
        </div>
    </div>
    {% endif %}

    <div id="footer-details">
        <div class="page-container">
            <div>
                <h3>About this event</h3>
                <ul>
                    <li><a href="/conduct">Code of conduct</a></li>
                    <li><a href="/srccon-heart-2020/sponsors">Sponsors</a></li>
                </ul>
                <h3>Keep in touch</h3>
                <ul>
                    <li><a href="https://twitter.com/srccon">@srccon on Twitter</a></li>
                    <li><a href="mailto:srccon@opennews.org">srccon@opennews.org</a></li>
                    <li><a href="https://opennews.us5.list-manage.com/subscribe?u=71c95e9a43708843d2fdc1f09&id=996e9290cc">OpenNews mailing list</a></li>
                    <li><a href="https://opennews.org/donate">Support our work</a></li>
                </ul>
                <p><a href="http://creativecommons.org/licenses/by/3.0/">CC Attribution 3.0</a></p>
            </div>
            <div>
                <h3>About SRCCON events</h3>
                <p>OpenNews runs <a href="https://srccon.org">several journalism events each year</a>. The largest is SRCCON, a mid-year conference for about 300 developers, designers, and data analysts. We also gather small working groups and convenings, and topically focused SRCCON-style events.</p>
                <h3>Previous events</h3>
                <ul>
                    <li>SRCCON <a href="https://2020.srccon.org/">2020</a>,  <a href="https://2019.srccon.org/">2019</a>, <a href="https://2018.srccon.org/">2018</a>, <a href="https://2017.srccon.org/">2017</a>, <a href="https://2016.srccon.org">2016</a>, <a href="https://2015.srccon.org">2015</a>, <a href="https://2014.srccon.org">2014</a></li>
                    <li>Topical SRCCON <a href="https://product.srccon.org/">Product</a>, <a href="https://lead.srccon.org/">Lead</a>, <a href="https://power.srccon.org/">Power</a>, <a href="https://work.srccon.org/">Work</a></li>
                    <li><a href="https://srccon.org/our-resources">How we build SRCCON events</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>