<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }} | SRCCON: June 25–26, Minneapolis</title>
     <meta name="Description" content="SRCCON, June 25 & 26 2015 in Minneapolis, is a participatory, interactive conference centered on the challenges that news technology and data teams encounter every day.">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="icon" href="/favicon.ico" />
    <!-- stylesheet & typekit calls -->
    <script src="//use.typekit.net/xnh2etj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/media/css/2015.css" />
    <!-- endstylesheets -->
    <!-- script calls -->
    <!-- end scripts -->
    <!-- Begin Google Analytics -->
<script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-51039715-1', 'srccon.org');
  ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<body class="{{ page.section }} {{ page.sub-section }}">
  <header class="{{ page.background }}">
    <div id="headertop">
      <div class="container">
        {% if page.title != 'Join us for SRCCON' %}
          <a href="/" id = "cornerlogo"><img src="/media/img/2015/corner_logo.png"></a>
        {% endif %}
        <nav class="navigation">
          {% include 2015_navigation.html %}
        </nav>
      <div id="headbox">
        {% if page.title == 'Join us for SRCCON' %}
          <img src="/media/img/2015/srccon15_logo.png" class="makethelogobigger">
          <h3 class="homepage">{{ page.eventdate }}</h3>
          <h4 class="homepage">{{ page.subtitle }}</h4>
        {% else %}
          <h2>{{ page.title }}</h2>
          <h3>{{ page.subtitle }}</h3>
        {% endif %}
      </div>
    </div>
  </div>
  {% if page.byline != null %}
  <div class="container">
      <p class="byline">photo by <a href="{{ page.bylineurl }}">{{ page.byline }}</a></p>
  </div>
  {% endif %}
</header>
<div class="container">
    <div id="contentbox">
      {{ content }}
    </div>
</div>
<footer>
  {% include 2015_footer.html %}
</footer>
</body>
</html>
