<!doctype html>
<html lang="en-US">
  <!--<![endif]-->
  <head>
    {% include headmeta.html %}
  </head>

  <body class="{{ page.section }}">
    <header>
      <nav id="header-nav">
        <div class="page-container">
          <a href="/" id="corner-logo">
            <img src="/media/img/srccon_logo_angle_512.png" alt="SRCCON Logo" />
          </a>
          {% include navigation.html %}
        </div>
      </nav>

      <div id="header-image">
        {% if page.photocredit != null %}
        <span class="photo-credit"
          >Photo: <a href="{{ page.photocredit_url }}">{{ page.photocredit }}</a></span
        >
        {% endif %}
      </div>

      <div id="header-callout">
        <div class="page-container">
          <span>SRCCON&nbsp;2019 &bull; July&nbsp;11&nbsp;&&nbsp;12 in&nbsp;MPLS</span>
          <a href="https://opennews.networkforgood.com/" class="button">Support the SRCCON team</a>
        </div>
      </div>
    </header>

    <main>
      <div class="page-container">{{ content }}</div>
    </main>

    <footer>{% include footer.html %}</footer>
  </body>
</html>
