<!doctype html>
<html lang="en-US">
  <head>
    {% include headmeta.html %}
  </head>

  <body class="hub{% if page.section %} {{ page.section }}{% endif %}">
    <header>
      <nav id="hub-nav">
        <div class="page-container">
          {% if page.section != 'homepage' %}
          <div class="top-bar">
            <a href="{% if page.back_link_url %}{{ page.back_link_url }}{% else %}/{% endif %}"
              >&larr; {% if page.back_link_text %}{{ page.back_link_text }}{% else %}SRCCON Events
              Home{% endif %}</a
            >
          </div>
          {% endif %}
          <a
            id="main-logo"
            href="{% if page.logo_link %}{{ page.logo_link }}{% else %}/{% endif %}"
          >
            <img
              src="{% if page.logo %}{{ page.logo }}{% else %}/media/img/srccon_logo_angle_512.png{% endif %}"
              alt="SRCCON Logo"
              width="512"
              height="330"
            />
          </a>
        </div>
      </nav>
    </header>

    <main>
      <div class="page-container">{{ content }}</div>
    </main>

    <footer>
      <div class="page-container">
        {% if page.main_footer != true %} {% if page.section != 'conduct' %}
        <p>
          <a href="/conduct">Read our code of conduct</a>
        </p>
        {% endif %}

        <p>
          Keep in touch:
          <span class="contact-options">
            <a href="https://bsky.app/profile/opennews.bsky.social">@srccon on BlueSky</a> /
            <a href="mailto:srccon@opennews.org">Email</a> /
            <a href="https://eepurl.com/czSVTL">Newsletter</a>
          </span>
        </p>

        {% endif %}

        <p class="trailer">
          <em
            >We say it &ldquo;Source con&rdquo;—SRC as in source code, CON as in conference.
            You&nbsp;can&nbsp;say&nbsp;it&nbsp;however&nbsp;you&nbsp;want!</em
          >
        </p>
      </div>
    </footer>
  </body>
</html>
